@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {

}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: bold;
}

.card {
  transform: scale(0.13);
}

.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* // background-color: var(--eganow-red); */
  background-image: url('/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}


/* styles/globals.css */

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.skeleton-text {
  height: 20px;
  width: 100%;
}

.skeleton-input {
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
}

.skeleton-button {
  height: 48px;
  width: 100%;
  margin-top: 16px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.pay-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7em ;
  background-color: #2a88f4;
  cursor: pointer;
  color: white;
  /* box-shadow: 4px 6px 0px rgb(58, 58, 58); */
  /* border: 4px solid; */
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  transition: box-shadow 250ms, transform 250ms, filter 50ms;
}
.pay-btn:hover {
  transform: translate(2px, 2px);
  /* box-shadow: 2px 3px 0px black; */
}
.pay-btn:active {
  filter: saturate(0.75);
}
.pay-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #cc042bed;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
.pay-btn:hover::after {
  transform: translateX(0);
}
.back-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7em ;
  /* background-color: #2a88f4; */
  cursor: pointer;
  color: #cc042bed;
  /* box-shadow: 4px 6px 0px rgb(58, 58, 58); */
  border: 1px solid #cc042bed;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  transition: box-shadow 250ms, transform 250ms, filter 50ms;
}
.back-btn:hover {
  transform: translate(2px, 2px);
  color: white;
  border: 1px solid #cc042bed;

  /* box-shadow: 2px 3px 0px black; */
}
.back-btn:active {
  filter: saturate(0.75);
}
.back-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #cc042bed;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
.back-btn:hover::after {
  transform: translateX(0);
}

